* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

div {
    width: 400px;
    margin: 100px auto;
    text-align: center;
}

button {
    padding: 8px 12px;
}

p {
    font-size: 1.5rem;
}